/* =========================
   ページ全体の設定
   ========================= */

body {
    font-family: serif;
    background-color: #E8F0EF;
    margin: 0;
}


/* =========================
   左右の水玉模様
   ========================= */

.dot-left,
.dot-right {
    position: fixed;
    top: 0;
    width: 80px;
    height: 100vh;
    background-color: #E8F0EF;

    background-image:
        radial-gradient(circle, #8FA8B5 4px, transparent 4px),
        radial-gradient(circle, #8FA8B5 4px, transparent 4px);

    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;

    z-index: 0;
}


/* 左側の水玉 */

.dot-left {
    left: 0;
}


/* 右側の水玉 */

.dot-right {
    right: 0;
}

 /* タイトル */
        
        header {
            text-align: center;
            padding: 70px 20px 40px;
        }
        
        .title {
            font-family: serif;
	font-size: 55px;
	font-weight: bold;
            color: #365C73;
            letter-spacing: 3px;
            margin-bottom: 10px;
        }
        
        .subtitle {
            font-size: 14px;
            letter-spacing: 3px;
            color: #C98F9A;
        }
/* =========================
   真ん中のメイン部分
   ========================= */

.main {
    position: relative;
    z-index: 1;
    background-color: #E8F0EF;
    width: 80%;
    margin: 0 auto;
    padding: 20px 30px;
    box-sizing: border-box;
    text-align: center;
}


/* =========================
   プロフィール画像
   ========================= */

.profile-icon {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}


/* ページ移動メニュー */

nav {
	font-family: serif;
    text-align: center;
    border-top: 1px solid #365C73;
    border-bottom: 1px solid #365C73;
    padding: 15px;
    margin: 0 80px;
}

nav a {
	font-family: serif;
    color: #365C73;
    text-decoration: none;
    margin: 0 25px;
    font-size: 14px;
}

nav a:hover {
    color: #C98F9A;
}

/* マウスを乗せたときの色 */

nav a:hover {
    color: #C98F9A;
}
 /* 一番下 */
        
        footer {
            text-align: center;
            margin-top: 100px;
            padding: 30px;
            font-size: 12px;
            color: #777;
}


/* 本文中のリンク */

a {
    color: #B89A5A;
    
}

a:hover {
    color: #C98F9A;
}

/*記事　見出し*/
.article {
	text-align: left;
	padding: 18px 10px;
	border-bottom: 1px solid #C5D2D5;
}

.article a {
	color: #365C73;
	text-decoration: none;
	font-size: 16px;
}

.article a:hover {
	color: #C98F9A;
}

.date {
	color: #C98F9A;
	font-size: 13px;
	margin-right: 20px;
}
/*音楽記事　中身*/
.main.musicarticle h3 {
    font-family: serif;
    font-size: 22px;
    color: #4F756D;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 15px;
}
    
.music-content {
    display: flex;
    align-items: flex-start;
    gap: 30px;
}

.music-content img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.music-content p {
    text-align: left;
    line-height: 1.8;
    margin: 0;
}